 body {
    background-color: #b6b1b1; 
    font-family: 'Lucida Sans'; 
    display: flex;             
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kalkulator {
    background-color: white;
    width: 400px;             
}
.ekran {
    background-color: #ecccd3; 
    padding: 30px;             
    text-align: right;         
    font-size: 40px;           
    color: #445555;           
    margin-bottom: 20px;       
}

.formularz {
    display: flex;
    align-items: center; 
    padding: 20px;
    gap: 10px;          
}
.pole {
    display: flex;
    flex-direction: column; /* Ustawia etykiete nad polem */
    text-align: left;       
    width: 100px;           
}
input, select {
    padding: 10px;      
    border: 1px solid #ccc; 
    border-radius: 4px;   /* Lekko zaokraglone rogi */
    font-size: 18px;      
    margin-top: 5px;      /* Maly odstep od etykiety */
}

button {
    background-color: #555555; 
    color: white;              /* Biały tekst */
    border: none;           
    padding: 10px 20px;        /* Odstęp wewnątrz przycisku */
    font-size: 13px;           
    cursor: pointer;           /* "Łapka" po najechaniu !!!!!!!!!!!!!!!!!!!*/
    margin-left: 10px;         
}